.main{
    
    width: 340px;
    padding: 20px 30px;
    border-radius: 20px;
    border:  2px solid yellow;
}

body{
    background-color: gray;
}
.src{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 80px;
}
.main_id{
    text-align: center;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
}