.main {
    width: 302px;
    padding: 30px 25px;
    border-radius: 20px;
    border: 2px solid yellow;
}

body{
    background-color: rgb(0, 0, 0);
}
.src{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 80px;
}
.main_id{
    text-align: center;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgb(52, 95, 196);
}
.MAIN{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}
h2{
    font-size: 20px;
    color: #fff;
    margin-top: 22px;
}